
<button type="button" class="btn btn-primary" (click)="agregar()">Agregar</button>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">companyName</th>
      <th scope="col">contactName</th>
      <th scope="col">contactTitle</th>
      <th scope="col">adress</th>
      <th scope="col">city</th>
      <th scope="col">region</th>
      <th scope="col">country</th>
      <th scope="col">postalCode</th>
      <th scope="col">phone</th>
      <th scope="col">fax</th>
      <th scope="col">funciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataSource">
      <th scope="row">{{ data.id }}</th>
      <th scope="row">{{ data.companyName }}</th>
      <th scope="row">{{ data.contactName }}</th>
      <th scope="row">{{ data.contactTitle }}</th>
      <th scope="row">{{ data.adress }}</th>
      <th scope="row">{{ data.city }}</th>
      <th scope="row">{{ data.region }}</th>
      <th scope="row">{{ data.postalCode }}</th>
      <th scope="row">{{ data.country }}</th>
      <th scope="row">{{ data.phone }}</th>
      <th scope="row">{{ data.fax }}</th>
      <th scope="row">
        <button class="btn btn btn-success" type="button" (click)="editar(data.id)">
          <!-- <i class="uil uil uil-estate"></i> -->
          editar
        </button>
        <button class="btn btn-danger" type="button" (click)="borrar(data.id)">
          <!-- <i class="uil uil uil-estate"></i> -->
          borrar
        </button>
      </th>
    </tr>
  </tbody>
</table>
