<button type="button" class="btn btn-primary" (click)="regresar()">
  regresar
</button>
<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <div class="mb-2">
    <label for="companyName" class="form-label">company Name</label>
    <input
      type="text"
      class="form-control"
      id="companyName"
      formControlName="companyName"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('companyName')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="contactName" class="form-label">contact Name</label>
    <input
      type="text"
      class="form-control"
      id="contactName"
      formControlName="contactName"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('companyName')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="contactTitle" class="form-label">contact Title</label>
    <input
      type="text"
      class="form-control"
      id="contactTitle"
      formControlName="contactTitle"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('contactTitle')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="adress" class="form-label">adress</label>
    <input
      type="text"
      class="form-control"
      id="adress"
      formControlName="adress"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('adress')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="city" class="form-label">city</label>
    <input type="text" class="form-control" id="city" formControlName="city" />
    <span class="fs-6 text-danger" *ngIf="campoValido('city')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="region" class="form-label">region</label>
    <input
      type="text"
      class="form-control"
      id="region"
      formControlName="region"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('region')">
      este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="postalCode" class="form-label">postal Code</label>
    <input
      type="number"
      class="form-control"
      id="postalCode"
      formControlName="postalCode"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('postalCode')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="country" class="form-label">country</label>
    <input
      type="text"
      class="form-control"
      id="country"
      formControlName="country"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('country')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="phone" class="form-label">phone</label>
    <input
      type="number"
      class="form-control"
      id="phone"
      formControlName="phone"
    />
    <span class="fs-6 text-danger" *ngIf="campoValido('phone')">
      Este campo debe ser valido
    </span>
  </div>

  <div class="mb-2">
    <label for="fax" class="form-label">fax</label>
    <input type="text" class="form-control" id="fax" formControlName="fax" />
    <span class="fs-6 text-danger" *ngIf="campoValido('fax')">
      Este campo debe ser valido
    </span>
  </div>

  <button type="button" class="btn btn-success" type="submit">guardar</button>
  <button
    type="button"
    class="btn btn-danger"
    type="button"
    (click)="regresar()"
  >
    cancelar
  </button>
</form>
